.git
.gitignore
.env
.prettierrc
.cjs.swcrc
.es.swcrc
bun.lockb

node_modules
tsconfig.json
pnpm-lock.yaml
jest.config.js
nodemon.json
example
tests
test
CHANGELOG.md
.eslintrc.js
MIGRATION.md
tsconfig.cjs.json
tsconfig.esm.json

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store


